@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@500&display=swap');

/*Import fonts*/
html,
body {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 84px;
}

/*Font for paragraphs*/
p {
    font-family: 'Raleway', sans-serif;
    /*Font properties*/
}

#topContain {
    position: relative;
    height: 148px;
    width: 100%;
}

/*Setting full page background image*/
#bgImg {
    background-image: url(Images/Home.png);
    /*Background properties*/
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    opacity: 0.9;
}

/*Header background image*/
#headBgImg {
    background-image: url(Images/disputebg4.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 212px;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: darken;
    opacity: 0.3;
}

/*BWM Logo*/
#bwmLogo {
    position: absolute;
    top: 0;
    left: -27px;
    width: 200px;
    height: 146px;
}

/*Header text*/
#headTxt {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 115px;
    position: absolute;
    left: 200px;
    color: #2E2E2E;
}

/*Border for nav*/
nav {
    position: relative;
    border-top: solid #2E2E2E;
    /*Border properties*/
    border-bottom: solid #2E2E2E;
    padding: 0px !important;
}

/*Nav link button*/
.nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    text-decoration: underline rgb(0, 0, 0) !important;
    /*Text properties*/
}

#current {
    background-color: #8ea2a763;
    border-radius: 5px;
}

/*Logo on navbar*/
.navbar-brand {
    padding: 0px !important;
    height: 62px;
}

/*Nav bar burger*/
.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
}

/*Main part of page and grid*/
main {
    display: grid !important;
    grid-template-areas: "left left left left left left right";
    padding: 45px;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
}

/*Index*/
/*Left section of page*/
.left {
    grid-area: left;
    margin-top: 15px;
    padding-right: 5px;
    font-size: 18px;
}

/*Left Head Txt*/
.headTxt2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
    margin-top: 10px;
}

#bottomP {
    margin-bottom: 55px;
}

/*Lower left div*/
#lowerLeft {
    display: grid !important;
    grid-template-columns: min-content;
    grid-template-areas:
        "btmLeft btmRight"
        "... btmRight2";
    position: relative;
    width: 100%;
    height: auto;
}

/*Lower Left Image*/
#newAlbum {
    grid-area: btmRight2;
    width: 560px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 100px;

}

/*Lower Left Image 2*/
#disputeBand {
    grid-area: btmLeft;
    margin-bottom: 15px;
}

#headTxt5 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#homeAudio {
    width: 100%;
    height: 80px;
    border: 0;
    background-color: transparent;
}

/*Lower Left Text*/
#headTxt4 {
    grid-area: btmRight;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
    height: 50px;
    width: 100%;
    color: #2E2E2E;
    position: relative;
    bottom: 15px;
    left: 100px;
    white-space: nowrap;
}

/*Position of links in lower grid*/
#bundleLink {
    grid-area: btmRight;
    max-width: 332.12px;
    max-height: 336.7px;
    position: relative;
    top: 60px;
    left: 380px;
}

#bundleLink2 {
    grid-area: btmRight;
    max-width: 332.12px;
    max-height: 336.7px;
    position: relative;
    left: 60px;
    top: 75px;
}

/*Image in lower right*/
#bundle1 {
    position: relative;
    bottom: 15px;
    max-width: 332.13px;
    max-height: 336.7px;
}

#bundle2 {
    position: relative;
    bottom: 30px;
    max-width: 332.13px;
    max-height: 336.7px;
}

/*Links Page*/
.linksPge:hover {
    text-decoration: none;
    color: #ffffff;
}

.linksPge {
    text-decoration: none;
    color: #ffffff;
}

.linksBtns {
    border: solid #2E2E2E;
    width: 55px;
    height: 55px;
    background-color: #2E2E2E;
    border-radius: 50px;
    overflow: hidden;
    transition: width 1s;
}

#spotifyImg {
    width: 51px;
    height: auto
}

#appleImg {
    width: 70px;
    height: auto;
    position: relative;
    bottom: 10px;
    right: 9px;
}

#appleTxt {
    position: relative;
    bottom: 10px;
    right: 17px;
}

#googleImg {
    width: 37px;
    height: auto;
    position: relative;
    left: 11px;
    top: 6px;
}

#googleTxt {
    position: relative;
    top: 6px;
    left: 11px;

}

#patreonImg {
    width: 40px;
    height: auto;
    position: relative;
    left: 9px;
    top: 7px;
}

#patreonTxt {
    position: relative;
    top: 5px;
    left: 9px;
}

#merchImg {
    width: 47px;
    height: auto;
    position: relative;
    left: 2px;
    top: 1px;
}

#merchTxt {
    position: relative;
    top: 4px;
}

/*End of links*/

/*Video Page*/
/*Div for video layout*/
#videos {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-areas: "vid1 vid2 vid3"
        "vid4 vid5 vid6";
    column-gap: 5px;
    row-gap: 5px;
}

/*Videos from left to right*/
.videoWrapper1 {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 56.25%;
    height: 0;
    grid-area: vid1;
}

#vid1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videoWrapper2 {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 56.25%;
    height: 0;
    grid-area: vid2;
}

#vid2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videoWrapper3 {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 56.25%;
    height: 0;
    grid-area: vid3;
}

#vid3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#vid4 {
    width: 100%;
    height: auto;
    grid-area: vid4;
}

#vid5 {
    width: 100%;
    height: auto;
    grid-area: vid5;
}

#vid6 {
    width: 100%;
    height: auto;
    grid-area: vid6;
}

/*Div for audio layout*/
#audio {
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
}

#audio1 {
    width: 300px;
    height: 380px;
    border: none;
    background-color: transparent;
}

#audio2 {
    width: 300px;
    height: 380px;
    border: none;
    background-color: transparent;
}

#audio3 {
    width: 300px;
    height: 380px;
    border: none;
    background-color: transparent;
}

.audioSrc {
    filter: invert(95%);
    outline: none;
}

/*End of video page*/

/*Contact Page*/

/*Form*/
form {
    width: 100%;
    height: max-content;
    border: solid #2E2E2E;
    border-width: 5px;
    padding: 10px;
}

label {
    font-size: 20px;
}
/*Input fields on form*/
input {
    width: 100%;
    background-color: #2E2E2E;
    color: #ffffff;
    border: none;
}
/*Stopping chrome autofill changing backgorund and text colour*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2E2E2E inset !important;
    box-shadow: none;
    -webkit-text-fill-color: #ffffff !important;
}
/*Form placeholder*/
::placeholder {
    color: #ffffff;
}
/*Grid in mid form*/
#midForm {
    padding: 10px;
    display: grid;
    grid-template-areas: "leftForm rightForm";
    margin-bottom: 30px;
}

#checkLabel {
    position: relative;
    text-align: center;
    grid-area: leftForm;
}

#checkbox {
    width: auto;
    height: max-content;
    grid-area: leftForm;
    position: relative;
    top: 100%;
    margin-left: auto;
    margin-right: auto;
}

#reasonLabel {
    grid-area: rightForm;
    text-align: center;
}

#reason {
    width: 25%;
    min-width: fit-content;
    height: 30px;
    grid-area: rightForm;
    position: relative;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
}

select,
option {
    background-color: #2E2E2E;
    color: #ffffff;
}

textarea {
    width: 100%;
    height: 20%;
    background-color: #2E2E2E;
    color: #ffffff;
}

#submit {
    width: 100%;
    background-color: #2E2E2E;
    color: #ffffff;
}

/*End of contact page*/





/*End of Left Side*/



/*Right section of page*/
.right {
    max-width: 300px;
    height: max-content;
    position: relative;
    top: 92px;
    grid-area: right;
    border: solid #383838;
    border-width: 5px;
    background-color: rgba(1, 1, 1, 0.25);
    margin-top: 13px;
    color: rgb(0, 0, 0);
}

/*Right section text head*/
.headTxt3 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

/*Right details list*/
.rightList {
    list-style: none;
}

.listHead {
    position: relative;
    margin-top: 10px;
    right: 35px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.listContent {
    position: relative;
    right: 35px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}

.soon-links {
    color: #000000;
}

.soon-links:hover {
    text-decoration: underline rgb(0, 0, 0);
}

/*End of Right Side*/

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: #2E2E2E;
    color: #ffffff;
}

/*Sponsor on left of footer*/
#sponsor {
    position: relative;
    top: 12.5px;
    left: 12.5px;
    max-height: 60px;
}

/*Footer links*/
#footerLinks {
    position: relative;
    bottom: 50px;
    height: 70px;
    width: 190px;
    margin: auto;
}

.linkBtm {
    color: #ffffff !important;
}

#homeBtm {
    position: relative;
}

#comingBtm {
    position: relative;
    left: 20px;
}

#linksBtm {
    position: relative;
    left: 30px;
}

#videoBtm {
    position: relative;
    left: 60px;
}

#contactBtm {
    position: relative;
    top: 20px;
    right: 40px;
}

/*Social links on right of footer*/
#fbIcon {
    position: absolute;
    right: 60px;
    top: 15px;
}

#twitterIcon {
    position: absolute;
    right: 5px;
    top: 15px;
}

/*For links page*/
@media only screen and (min-width: 1384px) {
    .linksBtns:hover {
        transition: width 1s;
        border: solid #161616;
        width: 200px;
        height: 55px;
        background-color: #2E2E2E;
        border-radius: 50px;
        color: rgb(255, 255, 255);
    }
}

/*Media querie*/
@media only screen and (max-width: 1384px) {

    /*Div at top of pages*/
    #topContain {
        height: 188px;
    }

    /*Top logo*/
    #bwmLogo {
        height: 188px;
    }

    /*Top Head Text*/
    #headTxt {
        font-size: 71px;
        max-width: 50px;
        top: 10px;
        left: 160px;
    }

    /*Bg Img for header*/
    #headBgImg {
        height: 254px;
        background-position: right;
        border-bottom: dotted black;
    }

    /*Bg img for full page*/
    #bgImg {
        background-position: right;
    }

    /*Main section of page*/
    main {
        display: grid !important;
        grid-template-areas: "left""right";
        padding: 45px;
    }

    /*Head text on left*/
    .headTxt2 {
        text-align: center;
        font-size: 50px;
    }

    /*Left side of page*/
    .left {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    /*Right side of page*/
    .right {
        position: initial;
        max-height: 100%;
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }

    .rightList {
        position: relative;
        left: 15px;
    }

    /*Band pic on home page*/
    #disputeBand {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 520px;
    }

    /*Album img on hoem page*/
    #newAlbum {
        width: 100%;
        max-width: 520px;
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
        position: initial;
    }

    /*Bundle images on home*/
    #bundle1 {
        margin-left: auto;
        margin-right: auto;
    }

    #bundle2 {
        margin-right: auto;
        margin-left: auto;
    }

    #bundleLink {
        position: initial;
        grid-area: btmRight4;
        margin-left: auto;
        margin-right: auto;

    }

    #bundleLink2 {
        position: initial;
        grid-area: btmRight3;
        margin-right: auto;
        margin-left: auto;
    }

    /*Lower left grid on home*/
    #lowerLeft {
        grid-template-areas: "btmLeft""btmLeft2""btmRight""btmRight2""btmRight3""btmRight4" !important;
        grid-template-columns: none;
    }

    /*Lower left head text on home*/
    #headTxt4 {
        position: initial;
        height: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        white-space: normal;
    }



    /*Links on link page*/
    .linksBtns {
        transition: none;
        border: solid #161616;
        width: 200px;
        height: 55px;
        background-color: #2E2E2E;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
    }

    #spotifyImg {
        position: relative;
        right: 40px;
    }

    #spotifyTxt {
        position: relative;
        right: 12px;
    }

    #appleImg {
        position: relative;
        right: 18px;
        bottom: 9px;
    }

    #googleImg {
        position: relative;
        left: -15px;
    }

    #googleTxt {
        position: relative;
        left: 0;
    }

    #patreonImg {
        position: relative;
        left: -33px;
    }

    #patreonTxt {
        position: relative;
        left: -10px;
    }

    #merchImg {
        position: relative;
        left: -19px;
    }

    #merchTxt {
        position: relative;
        left: -9px;
    }

    /*Video page container*/
    #videos {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-areas: "vid1""vid2""vid3"
            "vid4""vid5""vid6";
        column-gap: 5px;
        row-gap: 5px;
    }

    /*Vidoe Page Audio container */
    #audio {
        padding-bottom: 0;
    }
}